html {
    box-sizing: border-box;
    font-size: 16px;
}

*,
*::after,
*::before{
    box-sizing: inherit;
}

body {
    margin: 0;
}

.title {
    background-color: rgb(182, 212, 190);
    color: rgb(255, 255, 255);
    display: flex;
    flex-flow: row;
    justify-content: center;
    gap: 1rem;
}

.logo {
    max-width: 100%;
    height: 75px;
    padding: 8px;
}

nav {
    background-color: rgba(0,139,139,0.6);
}

.navigation {
    margin: 0px;
    padding: 0px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.navigation li {
    list-style-type: none;
    padding: 1rem;
    list-style-position: outside;
    text-align: center;
}

a {
    color: rgb(255, 255, 255);
    text-decoration: none;
}

li:hover {
    background-color: rgb(0,139,139);
}

a:hover {
    text-decoration: underline;
}

.background {
    width: 100%;
    height: 200px;
    object-fit: cover;
    object-position: left top;
}

.article {
    display: flex;
    flex-direction: column;
    margin-top: 2rem;
    margin-bottom: 2rem;
    gap: 2rem;
}

.box {
    border: thick solid rgb(0, 0, 0);
    border-radius: 1rem 0;
    margin: 5px;
    padding: 1rem;
}

.color-1 {
    background-color: rgba(171, 165, 29, 0.25);
    border: thick solid rgba(171, 165, 29, 1);
}

.color-2 {
    background-color: rgba(52, 119, 75, 0.25);
    border: thick solid rgba(52, 119, 75, 1);
}

.color-3 {
    background-color: rgba(58, 13, 206, 0.25);
    border: thick solid rgba(58, 13, 206, 1);
}

.span-1 {
    color: rgba(171, 165, 29, 1);
}

.span-2 {
    color: rgba(52, 119, 75, 1);
}

.span-3 {
    color: rgba(58, 13, 206, 1);
}

.comments {
    background-color: rgba(32, 31, 31, 0.20);
    color: rgba(32, 31, 31, 0.7);
    border-top: thick solid rgba(32, 31, 31, 0.7);
    border-bottom: thick solid rgba(32, 31, 31, 0.7);
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 200px;
    padding: 1rem;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
}

.face {
    font-size: 5rem;
    color: rgba(0, 0, 0, 1);
}

.star {
    color: rgba(255, 255, 255, 1);;
}


.material-icons-round {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

