body {
    margin: 0px;
    padding: 0px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
    height: 70px;
    line-height: 70px;
    padding: 70px;
    background-color: #333334;
    color: #fff;
    font-size: 3em;
    font-weight: bold;
    margin-bottom: 50px;
}

section {
    background-color: #ccc;
}

article {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

img {
    border: 1px dashed #555;
    margin: 10px;
    padding: 20px;
}

